{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="2F37D261D506735A29B007648A9D2F5A" />
    <meta name="google-site-verification" content="inUtDBJhcD2QR_DHOhSeVSKpckcSuA4mc3ydzkUC7Hc" />
    <meta name="description" content="Check your Vanilla Gift Card balance quickly and securely with our simple 2025 guide. Learn how to verify your balance online or by phone without any hassle.">
    <meta name="keywords" content="vanilla gift card balance, check vanilla card balance, vanilla gift card phone number, balance.vanillagift.com, how to check vanilla gift card, vanilla card balance check online, vanilla gift card not working, vanilla card zip code setup">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
